/* import bengali font */
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
/* bengali font */
@font-face {
    font-family: 'Lima Bosonto Unicode';
    src: url('../fonts/lima-bosonto/LimaBosontoUnicode.woff2') format('woff2'),
        url('../fonts/lima-bosonto/LimaBosontoUnicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --ui-color-1:#ffc107;
    --ui-color-2:#E91E63;
    --ui-color-3:#2e3654;
    --ui-color-4:#f0f8ff;
    --ui-primary:var(--ui-color-2);
    --ui-secondary:var(--ui-color-3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Tiro Bangla', serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.bg-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2;
}

.header {
    font-family: 'Lima Bosonto Unicode', serif;
    font-weight: 400;
    font-size: 96px;
    color: var(--ui-color-4);
    text-shadow: 2px 3px 5px #67676c;
}

.header span{
    color: var(--ui-secondary) !important;
}

.sub-header {
    font-family: 'Tiro Bangla', serif;
    font-size: 25px;
    font-weight: 400;
    color: var(--ui-color-4);
    text-shadow: 2px 3px 4px #67676c;
}

.btn {
    background-color: var(--ui-primary);
    color: var(--ui-secondary);
    padding: 6px 12px;
    border-radius: 30px;
    text-decoration: none;
    vertical-align: middle;
}

.list-districts{
    padding-top: 100px;
}

.title {
    text-align: center;
    color: var(--ui-secondary);
    margin-bottom: 50px;
}

.title span{color: var(--ui-primary);}

.container {
    --bs-gutter-x: 3.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}

.gap__2 {
    gap: 1.05rem!important;
}

.sinlge__items{
    background-color: rgb(170, 170, 170);
    flex: 0 0 auto;
    width: 24%;
    height: 370px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.sinlge__items img{
    width: 100%;
    vertical-align: middle;
    transition: 0.3s ease-in-out;
}

.sinlge__items:hover img{
    transform: scale(1.5);
}

.sinlge__items a {
    color: var(--ui-color-4);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
    z-index: 3;
}

.sinlge__items:hover a {
    color: #dbf4ff;
    translate: 0 30px;
    text-shadow: 3px 3px 3px #1f1a26;
}

.overlay {
    background-color: #2e3654;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: 0.3s ease-in-out
}

.sinlge__items:hover .overlay{
    opacity: 0;
}

.btn {
    background-color: var(--ui-primary);
    color: var(--ui-color-4);
    padding: 6px 12px;
    border-radius: 30px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.top__btn {
    position: fixed;
    right: 30px;
    bottom: 50px;
}

#topBtn{display: none;}

.top__btn .btn {
    background-color: var(--ui-primary);
    border-color: var(--ui-primary);
}

footer {
    background-color: var(--ui-secondary);
    color: var(--ui-color-4);
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}
footer p a{
    color: var(--ui-color-4);
    text-decoration: none;
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .sinlge__items {
        width: 31%;
        height: 250px;
    }
    .sinlge__items a {bottom: 30px;}
}
 
/* small mobile :320px. */
@media (max-width: 767px) {
    .sinlge__items {
        width: 31%;
        height: 250px;
    }
    .sinlge__items a {bottom: 30px;}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 601px) and (max-width: 700px) {
    .sinlge__items {
        width: 48.333%;
        height: 325px;
    }
    .sinlge__items a {bottom: 30px;}
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 501px) and (max-width: 600px) {
    .sinlge__items {
        width: 48%;
        height: 250px;
    }
    .sinlge__items a {bottom: 30px;}
}
/* Large Mobile :480px. */
@media only screen and (min-width: 400px) and (max-width: 500px) {
    .sinlge__items {
        width: 47%;
        height: 200px;
    }
    .sinlge__items a {bottom: 30px;}
}